<div class="footer-container">
    <div class="container py-5">
        <div class="row">
            <div class="col-3">
                <img src="assets/images/absa-and-sanava-logo.png" alt="">
            </div>
            <div class="col-3">
                <h5>About Us</h5>
                <a class="d-block" href="">About</a>
            </div>

            <div class="col-3">
                <h5>Legal</h5>
                <a class="d-block" href="">Terms of use</a>
                <a class="d-block" href="">Privacy Policy</a>
                <a class="d-block" href="">Cookies policy</a>
            </div>
            <div class="col-3">
                <p>What are you looking for?</p>
                <input type="text" class="form-control" placeholder="search here...">
            </div>
        </div>
    </div>
</div>
