<div class="login-container">
    <form class="form-signin" [formGroup]="form" (ngSubmit)="registerUser()">
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>
        <p>Create your account to enter and manage your journey</p>
        <div class="form-group mt-5">
            <label for="inputEmail">First name</label>
            <input type="text" formControlName="firstName" class="form-control" placeholder="First name" required autofocus>
        </div>

        <div class="form-group">
            <label for="inputEmail">Last name</label>
            <input type="text" formControlName="lastName" class="form-control" placeholder="Last name" required>
        </div>

        <div class="form-group">
            <label for="inputEmail">Cell number</label>
            <input type="tel" formControlName="cellNumber" class="form-control" placeholder="Cell number" required>
        </div>

        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" formControlName="email" class="form-control" placeholder="Email address" required>
        </div>

        <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" formControlName="password" class="form-control" placeholder="Password" required>
        </div>

        <div class="form-group">
            <label for="inputPassword">Confirm password</label>
            <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm password" required>
        </div>

        <div class="form-group">
            <mat-checkbox  formControlName="terms" [(ngModel)]="terms">I accept Terms and Condition</mat-checkbox>
        </div>
    
        <button class="btn btn-lg btn-primary btn-block" [disabled]="loading || !form.valid || !terms" type="submit">
            <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="!loading">Register</span>
        </button>

        <div class="my-4 text-center">
            <a href="javascript:void(0)" [routerLink]="['/login']">Already have an account</a>
        </div>
        
    </form>
</div>
